---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;


.image-caption {
	//text-decoration: none;
	--x-height-multiplier: 0.342;
	--baseline-multiplier: 0.22;
	font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
	font-weight: 200;
	font-style: normal;
	font-feature-settings: "liga" on,"lnum" on;
	-moz-font-feature-settings: "liga" on,"lnum" on;
	-webkit-font-feature-settings: "liga" on,"lnum" on;
	font-size: 14px;
	color: rgba(0,0,0,.68);
	letter-spacing: 0;
	text-align: center;
}

.image-caption a {
	color: rgba(11, 0, 185, 0.97);
}

.note-comment {
     font-family: monospace, sans-serif;
     font-size: 9px;
}